/* ----- HEADER ----- */
.bandeau{
	width: 100%;
	background: rgba(0,0,0,0.9);
	color: white;
	box-sizing: border-box;
	height: 50px;
	text-transform: uppercase;
	font-size: 26px;
	box-shadow: 3px 3px 3px silver;
	display: flex;
}
.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	text-shadow: 1px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	border:none;
	width: 150px;
}
.btnReset{
	padding: 6px;
	padding: 10px 15px;
}
.btnToggle{
	background: #3f3f3f;
	padding: 16px 16px;
	width: 54px;
}
.btnSort{
	width: auto;
padding: 5px 20px;
}
#inputFilter {
	padding: 5px;
	width: 200px;
	margin: 0px 2px;
	background: #2f2f2f;
	color: white;
	border: 1px solid #2f2f2f;
}
.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}


/* ----- Menu INPUTS ----- */
.menu:hover {
	cursor: pointer;
}
.value_more{
	right: 70px;
}
 .value_less{
	 right: 40px;
 }
.value_more, .value_less{
	font-size: 12px;
	padding: 5px 10px;
	cursor: pointer;
	border-bottom: 2px solid grey;
	background: #2f2f2f;
	width: 10px;
	position: absolute;
}
.button_help{
	color: #818181;
	position: absolute;
	z-index: 1;
	right: 10px;
	padding: 5px 9px;
	cursor: pointer;
	display:none;
}
.button_empty{
	color: white;
	position: absolute;
	z-index: 1;
	right: 0px;
	padding: 7px 8px;
	cursor: pointer;
	background: #2f2f2f;
	font-size: 14px;
}
section > div:hover .button_help{
	display: block;
}
.div_more_options{
	position: absolute;
	top: 42px;
	z-index: 1;
	background: white;
	width: 100%;
	height: 40px;
	display: none;
}
.down{
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	width: 16px;
	float: right;
	padding: 4px;
	-webkit-transition: width 2s, height 4s; /* Safari */
	transition: width 2s, height 4s;
}
.activeDown{
	-webkit-transition: width 2s, height 4s; /* Safari */
	transition: width 2s, height 4s;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180);
	transform: rotate(180deg);
}
div > p{
	width: 32%;
	float: left;
	margin: 3px 0px;
}
section > div > p{
	width: 100px;
	float: left;
	margin: 0px 0px;
	padding: 4px 4px;
}
div > input[type=text] {
	display: inline-block;
	border: 2px solid #c9c9c9;
}
section input[type=text] {
	background: #2f2f2f;
	color: #eeeeee;
	border:none;
	border-bottom: 2px solid grey;
	padding: 5px;
	border-radius:0;
	font-size: 14px;
	width: 208px;
}
.divOutput{
	background: rgba(0,0,0,0.6);
	height: 954px;
	display: flex;
}
.board{
}
.cssElements{
	width: 394px;
	min-width: 394px;
	background: #333;
	box-sizing: border-box;
	padding: 0;
	height: 1014px;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-transition: margin-left 0.6s;
	transition: margin-left 0.6s;
}
.cssElemTransition{
	margin-left:-394px;
	-webkit-transition: margin-left 0.6s;
	transition: margin-left 0.6s;
}
.cssElements > div:hover{
	background: -webkit-linear-gradient(top, rgba(65,65,73,1) 0%,rgba(42,42,48,1) 100%);
}
.visibilité > div, .texte > div, .texte > div , .fond > div, .bordures > div , .marges > div, .transitions > div, .taille > div{
	display: none;
}
.visibilité > p, .texte >p , .fond >p, .bordures >p , .marges >p, .transitions >p, .taille > p{
	background: -webkit-linear-gradient(top, rgba(65,65,73,1) 0%,rgba(42,42,48,1) 100%);
	color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	padding: 5px;
	border-bottom: 1px solid #1D1E21;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 5px;
	font-weight:bold;
}
section > div{
	background: #3f3f3f;
	color: white;
	text-transform: capitalize;
	padding: 5px 10px;
	margin: 1px 0px;
	display:flex;
	position:relative;
	font-size: 14px;
	line-height: 18px;
}
.active, .activeProperty{
	display:block !important;
}
.selectedElem{
	background: #3f5a71 !important;
}
.containerDraws{
	width:100%;
}
.containerDraws{
	width:100%;
}
.containerDraws > div{
	Overflow:hidden;
	background: url(../img/fondBlanc.png);
	background-size: 8px;
	width:100%;
}


/* ----- Code GENERE ----- */
.generateG{
	width: 100%;
	display: inline-block;
}
.generateCode{
	width: calc(100% - 650px);
	height: 492px;
	background-color: #333;
	color: #F8F8F2;
	box-sizing: border-box;
	display: inline-block;
}
.attributs{
	font-style: italic;
	color: #66D9EF;
}
.reset{
	display: inline-block;
	width: 10%;
	background: white;
	padding: 0px;
}
.cssrender{
	margin:0;
	padding-left:15px;
}
.displayBlock:nth-child(2), .displayBlock:nth-child(4), .displayBlock:nth-child(6), .displayBlock:nth-child(8), .displayBlock:nth-child(10),
.displayBlock:nth-child(12), .displayBlock:nth-child(14), .displayBlock:nth-child(16), .displayBlock:nth-child(18), .displayBlock:nth-child(20),
.displayBlock:nth-child(22), .displayBlock:nth-child(24), .displayBlock:nth-child(26), .displayBlock:nth-child(28), .displayBlock:nth-child(30){
	background: rgba(255, 255, 255, 0.02);
}
.activeProprieties{
	background: rgba(0,0,0,0.1);
}
.inputCSS{
	width: 99%;
	margin: 0px 2px;
	background-color: silver;
	border: 0px;
	color: grey;
	cursor:pointer;
	font-weight: bold;
}
#inputHtml{
	background: silver;
	height: 30px;
	width: 40%;
	margin: 0;
	padding: 5px;
	box-sizing: border-box;
	font-weight: bold;
	color: grey;
	cursor:pointer;
}
.activeCode{
	background-color: #333 !important;
	color:white !important;
	border: none;
}

.baliseHtml{
}
.baliseHtml::before{
	content:'';
}
.baliseHtml::after{
	content:'';
}

.baliseSpan{
	padding-left:20px !important;
}

.copyCode{
	background-color: white;
	background-image: url('../img/copy.png');
	background-repeat: no-repeat;
	background-position: center left;
	height: 30px;
	width:33px;
	margin:0;
	cursor:pointer;
}

.output{
	width: 100%;
	box-sizing: border-box;
	height: 402px;
	display: inline-block;
	resize: vertical;
	overflow: auto;
	min-width: 100%;
	min-height: 483px;
}
.outputOptions{
	display:flex;
	background: #333;
	padding: 5px;
	width: 140px;
	border-radius: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.outputChangeBack{
	cursor:pointer;
	width: 30px;
	height: 30px;
	border: 2px solid white;
	right: 0;
	border-radius: 30px;
	box-shadow: inset 0px 0px 1px black, 0px 0px 1px black;
	margin: 5px;
}
.ace_line {
	display:flex;
}
.ace_line:hover{
	background: #404040;
	cursor: pointer;
}
.ace_static_highlight .ace_gutter-cell::before {
	content: counter(ace_line, decimal);
	counter-increment: ace_line;
}

.ace_static_highlight .ace_gutter {
	width: 2em;
	text-align: right;
	padding: 0 3px 0 0;
	margin-right: 3px;
	padding: 0px 3px 0px 10px;
	background: rgba(0,0,0,0.2);
	width: 20px;
	margin: 0;
}

.ace_static_highlight .ace_gutter-cell {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.ace-monokai .ace_gutter {
	background: #2F3129;
	color: #8F908A;
}
.propertyRemove{
	width: 10px;
	padding: 0px 5px;
	transform: rotate(45deg);
	visibility: hidden;
}
.ace_line:hover .propertyRemove{
	visibility: visible;
}
.range, .range1 , .range2, .range3, .range4, .range5,
.range6, .range7 , .range8, .range9, .range10, .range11{
	display: inline-block;
	width: 32%;
	margin-left: 1%;
}
h2{
	margin: 15px 5px;
}
table {
	width: 100%;
}
td{
	padding: 10px;
	background: rgba(0,0,0,0.1);
}

input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}
.v-visuallyHidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
label, input, select, textarea {
	font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
}

.v-buttonGroupLabel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 18px;
	height: 32px;
	font-size: 13px;
}
.v-buttonGroupBordered, .v-buttonGroupLabel {
	border: 2px solid #e0e0e0;
	border-left-width: 0;
	background: white;
}
 .outilsContainer{
	 width: 650px;
	 background: #333;
	 height: 36px;
	 display:flex;
 }

label {
	color: #484848;
	font-weight: 600;
	display: block;
	max-width: 635px;
	padding-bottom: .8em;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.v-buttonGroupControl:checked + .v-buttonGroupLabel:hover, .v-buttonGroupControl:checked + .v-buttonGroupLabel:focus {
	background: #ccebf3;
}
.v-buttonGroupControl:checked + .v-buttonGroupLabel {
	background: #ccebf3;
	border-color: #b1e0ec;
}
.v-buttonGroupBordered:hover, .v-buttonGroupLabel:hover, .v-buttonGroupBordered:focus, .v-buttonGroupLabel:focus {
	outline: none;
	background: #f2f2f2;
}

input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: 0 none;
}

#void-sample, #controls > div.icon.picker-icon, #controls > div.switch{
	display: none;
}

#color-info > div:nth-child(3){
	display: none !important;
}

.Pix10{
	width: 9px;
	border-left: 1px solid black;
	height: 10px;
	float: left;
}
.GrandPix10{
	width: 9px;
	border-left: 1px solid black;
	height: 20px;
	float: left;
}

.VPix10{
	width: 10px;
	border-top: 1px solid black;
	height: 9px;
}
.VGrandPix10{
	width: 20px;
	border-top: 1px solid black;
	height: 9px;
}

.InvPix10{
	float: left;
	width: 20px;
	height: 20px;
}
.VInvPix10{
	width: 20px;
	height: 20px;
}

.selectForm{
	width: 100px;
	height: 36px;
	padding: 5px;
	cursor: pointer;
	border: 2px solid #e0e0e0;
	border-left-width: 0;
}


/* ----- CONSOLE ----- */

.console{
	width: 160px;
	background: rgba(25,25,25,0.5);
	height: 20px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	display: none;
	left: 0;
}
.cmd{
	float: left;
	width: 80%;
}

/* ----- FOOTER ----- */

footer{
	width: 100%;
	height: 56px;
	background: #333;
	padding: 20px;
	box-sizing: border-box;
	text-align: right;
}
.bandeau  > a, footer > a{
	color:white;
	text-decoration: none;
	font-size: 14px;
}
.bandeau > span{
	padding: 10px 15px;
}
/* By VISOCCHI ANTHONY 2017 */
