/* ----- Select rules ----- */
.btnReset, .propertyRemove, .tmpRemove, .ace_static_highlight .ace_gutter-cell, label, .generateCodeTab, .cssElements, .bandeau, #output{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
::selection{
	background: rgba(204, 217, 255,0.05);
}
::-moz-selection{
	background: rgba(204, 217, 255,0.05);
}

/* ----- Btn ----- */
.btn {
	font-family: Arial;
	color: #b1a9a9;
	font-size: 14px;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	border: 1px solid #16161e;
	background: rgb(57, 63, 77);
	border-radius: 4px;
}
.btn:hover {
	color:white;
}
.btnReset{
	padding: 6px 12px;
	height: 30px;
	width: auto;
}
.btnToggle{
	background: rgb(40,44,52);
	border:none;
	border-radius:0px;
	border-right: 1px solid #16161e;
	padding: 16px 16px;
	width: 54px;
}
.btnSort{margin: 0px 2px;
	width: auto;
	padding: 5px 20px;
}
.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.button_help{
	color: #818181;
	position: absolute;
	z-index: 1;
	right: 10px;
	padding: 5px 9px;
	cursor: pointer;
	display:none;
}
.button_empty{
	color: #8d8d8d;
	position: absolute;
	z-index: 1;
	right: 0px;
	padding: 4px 10px;
	cursor: pointer;
	background: transparent;
	font-size: 14px;
	margin: 3px;
}
.button_empty:hover{
	color: white;
}
section > div:hover .button_help{
	display: block;
}
/* ----- HEADER ----- */
.title{
	padding: 13px 16px;
	width: 291px;
	font-size: 20px;
}
.author{
	padding: 18px 14px;
	color:white;
	font-size:12px;
	text-decoration: none;
	width: 140px;
}
.bandeau{
	width: 100%;
	background: rgb(47, 53, 63);
	color: white;
	box-sizing: border-box;
	height: 50px;
	text-transform: uppercase;
	font-size: 26px;
	border-bottom: 1px solid #16161e;
}
.bandeau > div{
	display: flex;
}
#inputFilter {
	padding: 5px;
	color: white;
	border: 1px solid #2f2f2f;
	background: rgb(27,29,35);
	height: 19px;
	width: 100%;
}
#textValueForm{
	width: 200px;
	padding: 5px;
}
.backWhite{
	background: url(../img/fondBlanc.png);
}
.backBlack{
	background: url(../img/fondGris.png);
}
.backGrey{
	background: rgb(79, 85, 99);
}

/* ----- Menu INPUTS ----- */
.menu:hover {
	cursor: pointer;
}
.value_more{
	right: 70px;
}
.value_less{
	right: 40px;
}
.value_more, .value_less{
	font-size: 12px;
	padding: 4px 8px;
	cursor: pointer;
	margin:1px;
	border: 1px solid #16161e;
	background: rgb(55,60,71);
	width: 10px;
	position: absolute;
	color: #b1a9a9;
}
.value_more:hover, .value_less:hover{
	color:white;
}
.searchNResults{
	position: absolute;
	right: 36px;
	color: white;
	padding: 5px;
}
.div_more_options{
	position: absolute;
	top: 42px;
	z-index: 1;
	background: white;
	width: 100%;
	height: 40px;
	display: none;
}
.down{
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	width: 16px;
	float: right;
	padding: 4px;
	-webkit-transition: width 2s, height 4s; /* Safari */
	transition: width 2s, height 4s;
}
.activeDown{
	-webkit-transition: width 2s, height 4s; /* Safari */
	transition: width 2s, height 4s;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180);
	transform: rotate(180deg);
}
div > p{
	width: 32%;
	float: left;
	margin: 3px 0px;
}
section > div > p{
	width: 100px;
	float: left;
	margin: 0px 0px;
	padding: 4px 4px;
}
div > input[type=text] {
	display: inline-block;
	border: 2px solid #c9c9c9;
}
section input[type=text]{
	background: rgb(27,29,35);
	color: white;
	border: 1px solid #16161e;
	padding: 5px;
	font-size: 14px;
	width: 208px;
	border-radius: 4px;
}

section input[type=text]:focus, #inputFilter:focus {
	background: rgb(32,38,52);
	border: 1px solid #a4dcff;
}
section input[type=text]::selection, #inputFilter::selection{
	background: rgb(71, 79, 105);
	color:white;
}
section input[type=text]::-moz-selection, #inputFilter::-moz-selection{
	background: rgb(71, 79, 105);
	color:white;
}
.cssElements{
	width: 394px;
	min-width: 394px;
	background: rgb(40,44,52);
	box-sizing: border-box;
	padding: 0;
	-webkit-transition: margin-left 0.6s;
	transition: margin-left 0.6s;
	overflow: hidden;
}
.cssElements > section{
	overflow-x: hidden;
	overflow-y: scroll;
	height: 440px;
	width: 100%;
	padding: 10px 9px;
}
.selectedDiv {
	background: #323642;
}
/* ----- Code generated ----- */
#CSSRENDER input.loadNum {
	font-size: 16px;
	border-radius: 4px;
	background: rgb(53, 58, 69);
	padding: 0px 8px;
	width: 100px;
	border: none;
	font-family: monospace, monospace;
	padding: 0px 5px;
	color: #d19a66;
}
.loadNum {
	color: #d19a66;
}
span.loadNum::before {
	content: ".";
}
.tmpRemove, .tmpRemove > span, .cssCommentStart , .cssCommentEnd{
	color: #5c6370 !important;
}
.ace_gutter:hover{
	cursor:pointer;
	text-decoration: line-through;
}
.ace_first .ace_gutter:hover{
	text-decoration: none;
}
.visibilité > div, .texte > div, .texte > div , .fond > div, .bordures > div , .marges > div, .transitions > div, .taille > div{
	display: none;
}
.visibilité > p, .texte >p , .fond >p, .bordures >p , .marges >p, .transitions >p, .taille > p{
	background: -webkit-linear-gradient(top, rgba(65,65,73,1) 0%,rgba(42,42,48,1) 100%);
	color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	padding: 5px;
	border-bottom: 1px solid #1D1E21;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 5px;
	font-weight:bold;
}
section > div{
	background: rgb(40,44,52);
	color: white;
	text-transform: capitalize;
	padding: 5px 10px;
	display:flex;
	position:relative;
	font-size: 14px;
	line-height: 18px;
}
.active, .activeProperty{
	display:block !important;
}
.selectedElem{
	background: #3f5a71 !important;
}
#output{
	Overflow:hidden;
	background: url(../img/fondBlanc.png);
	background-size: 8px;
	width:100%;
}
#output::after {
	content: '.....';
	background: #1D1D24;
	right: 0;
	position: absolute;
	bottom: 0;
	color: #1D1D24;
	border-top-left-radius: 25px;
}
.board{
	display: flex;
}
.cssSearch{
	background: rgb(40,44,52);
	border-bottom: 1px solid #16161e;
}
.generateG{
	width: 100%;
	display: inline-block;
}
.generateCode{
	width: calc(100% - 0px);
	height: 530px;
	background: rgb(53, 58, 69);
	color: #abb2bf;
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid #16161e;
	overflow: hidden;
}
.generateCodeTab{
	height: 30px;
	width: 100%;
	background-color: #1D1D24;
	display: flex;
}
.attributs{
	font-style: italic;
	color: #61afef;
	cursor:pointer;
}
.reset{
	display: inline-block;
	width: 10%;
	background: white;
	padding: 0px;
}
.cssrender{
	margin:0;
	padding-left:15px;
}
.displayBlock:nth-child(2), .displayBlock:nth-child(4), .displayBlock:nth-child(6), .displayBlock:nth-child(8), .displayBlock:nth-child(10),
.displayBlock:nth-child(12), .displayBlock:nth-child(14), .displayBlock:nth-child(16), .displayBlock:nth-child(18), .displayBlock:nth-child(20),
.displayBlock:nth-child(22), .displayBlock:nth-child(24), .displayBlock:nth-child(26), .displayBlock:nth-child(28), .displayBlock:nth-child(30){
	background: rgba(255, 255, 255, 0.02);
}
.activeProprieties{
	background: rgba(0,0,0,0.1);
}
.spanSelected {
	color: #d19a66;
	font-size: 14px;
}
#inputHTMLcode, #inputCSScode{
	background: rgb(40,44,52);
	height: 30px;
	width: 40%;
	margin: 0;
	padding: 5px;
	box-sizing: border-box;
	font-weight: bold;
	color: grey;
	cursor:pointer;
	border-left: 1px solid #16161e;
	border-bottom: 1px solid #16161e;
}
.activeCode{
	background: rgb(53, 58, 69) !important;
	color:white !important;
	border: none;
	border-left: 2px solid #a4dcff !important;
	color:white !important;
}

.baliseSpan{
	padding-left:20px !important;
}

.output{
	width: 100%;
	box-sizing: border-box;
	height: 402px;
	display: block;
	resize: vertical;
	overflow: auto;
	min-width: 100%;
	min-height: 483px;
}
.outputOptions{
	display: flex;
	padding: 5px;
	width: 140px;
	float: right;
}
.outputChangeBack{
	cursor:pointer;
	width: 26px;
	height: 26px;
	border: 2px solid white;
	right: 0;
	border-radius: 30px;
	box-shadow: inset 0px 0px 1px black, 0px 0px 1px black;
	margin: 5px;
}
.ace_static_highlight{
	counter-reset:ace_line 0;
	overflow-y: scroll;
	overflow-x: hidden;
	width: calc(100% + 17px);
	height: 498px;
	background-color: hsl(220, 13%, 18%);
}
.selectedClass{
	background: #323642;
}
.ace_line {
	display:flex;
}
#cssRenderContainer{
	font-size: 18px;
}
.ace_static_highlight .ace_gutter-cell::before {
	content: counter(ace_line, decimal);
	counter-increment: ace_line;
}
.ace_static_highlight .ace_gutter {
	width: 2em;
	text-align: right;
	padding: 0 3px 0 0;
	margin-right: 3px;
	padding: 0px 3px 0px 10px;
	width: 20px;
	margin: 0;
	color: #5c6370;
}

.propertyRemove{
	visibility: hidden;
	cursor:pointer;
	width: 10px;
	padding: 0px 5px;
}
.ace_line:hover .propertyRemove{
	visibility: visible;
}
h2{
	margin: 15px 5px;
}
table {
	width: 100%;
}
td{
	padding: 10px;
	background: rgba(0,0,0,0.1);
}

input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}
label, input, select, textarea {
	font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
}

.outilsContainer{
	width: 100%;
	background: white;
	height: 36px;
	display:flex;
}

label {
	color: #484848;
	font-weight: 600;
	display: block;
	max-width: 635px;
	padding-bottom: .8em;
}

input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: 0 none;
}

#void-sample, #controls > div.icon.picker-icon, #controls > div.switch{
	display: none;
}

#color-info > div:nth-child(3){
	display: none !important;
}


/* ----- CONSOLE ----- */

.console{
	width: 160px;
	background: rgba(25,25,25,0.5);
	height: 20px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	display: none;
	left: 0;
}
.cmd{
	float: left;
	width: 80%;
}

/* ----- FOOTER ----- */

footer{
	width: 100%;
	height: 0px;
	box-sizing: border-box;
}

/* ----- PALETTE ----- */
#color-palette > .container:nth-child(4), 	.ui-color-picker > .preview,  	.ui-color-picker > div.input:nth-child(13), .ui-color-picker > div.input:nth-child(14){
	display:none;
}
#picker {
	width: 650px;
	background: white;
	float: left;
}
#color-palette {
	width: 640px;
	font-family: Arial, Helvetica, sans-serif;
	color: #777;
	float: left;
}

#color-info {
	width: 650px;
	display: inline-block;
	float: none;
}
#palette {
	width: 100%;
}
.ui-color-picker .picking-area {
	width: 120px;
	height: 120px;
}

#HTMLRENDER{
	display:none;

}

/* ----- ColorPicker  - Spectrum  ----- */
#triggerSetbackground, #triggerSetcolor{
	display:none !important;
}
.sp-replacer, .sp-preview {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	width: 20px;
}
.sp-replacer{
	position: absolute;
	right: 45px;
	top: 10px;
}
.sp-preview-inner{
	border-radius:25px;
	border: 1px solid #3b3b3b;
}
.sp-dd{
	display:none;
}

.htmlCodeValue{
	display:none !important;
}

/* ----- CodeMirror  ----- */
.CodeMirror {
	font-size: 16px;
	height:100%;
}
.cm-s-one-dark .CodeMirror-linenumber {
	margin: 0;
	margin-top: 0px;
	padding: 4px 5px 4px 5px;
	margin-top: -4px;
	background-color: hsl(220, 13%, 18%);
	color: #5c6370;
}
.cm-s-one-dark.CodeMirror {
	background: #3c404d;
}
.CodeMirror-gutters{
	border:none;
}
.CodeMirror-focused div.CodeMirror-cursors {
	visibility: visible;
}
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }


/* Jquery-ui */
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
	font-size: 14px;
	border-radius: 3px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border: 0px solid #c9c8c8;
	background: #b0b9c0;
	font-weight: normal;
	color: #ffffff;
	margin: 1px;
	padding: 2px 1em 3px .4em;
}
/* By VISOCCHI ANTHONY 2017-2018 */
