.bandeau{
	width: 100%;
background: rgba(0,0,0,0.9);
color: white;
padding: 15px;
box-sizing: border-box;
text-transform: uppercase;
font-size: 30px;
box-shadow: 3px 3px 3px silver;
}


div > p{
	width: 30%;
	float: left;
	margin: 3px 0px;
}

div > input[type=text] {
	display: inline-block;
	width:32%;
	border-radius: 4px;
	border: 2px solid #c9c9c9;
}

.divOutput{
	background: rgba(0,0,0,0.6);
	height: 954px;
	/*genrpadding: 15px;*/
}

.board{
}

.cssElements{

	width: 400px;;
background: rgba(255,255,255,0.98);
	box-sizing: border-box;
	padding: 0;
	float: left;
	box-shadow: 2px 0px 5px black;
	height: 954px;
overflow: hidden;
}

.cssElements > div{
  background: -webkit-linear-gradient(top, rgba(65,65,73,1) 0%,rgba(42,42,48,1) 100%);
}

.cssElements > div:hover{
  background: -webkit-linear-gradient(top, rgba(65,65,73,1) 0%,rgba(42,42,48,1) 100%);
}

.generateG{
	width: 100%;
display: inline-block;
    margin: 0% 0% 1% 0%;

}
.generateCode{
	width: calc(100% - 654px);
	height: 492px;
	background-color: #272822;
	color: #F8F8F2;
	/* margin: 0% 0.5% 0% 0%; */
box-sizing: border-box;
display: inline-block;
overflow-y: scroll;
overflow-x: hidden;
}

.attributs{
	font-style: italic;
color: #66D9EF;
}
.synthaxe{
		width: 99%;
		height: 762px;
	background: rgba(255,255,255,0.98);
	padding: 10px;
	    margin: 0% 0% 0% 0.5%;
	box-sizing: border-box;
	display: inline-block;
	overflow-y: scroll;
overflow-x: hidden;
}

.console{
	width: 160px;
	background: rgba(25,25,25,0.5);
	height: 20px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	left: 0;
}

.cmd{
	float: left;
	width: 80%;
}

.reset{
	display: inline-block;
	width: 10%;
	background: white;
    padding: 0px;
}

.btn {
	background: #3498db;
background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
background-image: -moz-linear-gradient(top, #3498db, #2980b9);
background-image: -ms-linear-gradient(top, #3498db, #2980b9);
background-image: -o-linear-gradient(top, #3498db, #2980b9);
background-image: linear-gradient(to bottom, #3498db, #2980b9);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 10px;
text-shadow: 1px 1px 3px #666666;
-webkit-box-shadow: 2px 2px 4px #666666;
-moz-box-shadow: 2px 2px 4px #666666;
box-shadow: 2px 2px 4px #666666;
font-family: Arial;
color: #ffffff;
font-size: 16px;
padding: 10px 0px 10px 0px;
text-decoration: none;
    width: 150px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.cssrender{
	margin:0;
	padding-left:15px;
}

.displayBlock:nth-child(2), .displayBlock:nth-child(4), .displayBlock:nth-child(6), .displayBlock:nth-child(8), .displayBlock:nth-child(10),
.displayBlock:nth-child(12), .displayBlock:nth-child(14), .displayBlock:nth-child(16), .displayBlock:nth-child(18), .displayBlock:nth-child(20),
.displayBlock:nth-child(22), .displayBlock:nth-child(24), .displayBlock:nth-child(26), .displayBlock:nth-child(28), .displayBlock:nth-child(30){
	background: rgba(255, 255, 255, 0.02);
}
.activeProprieties{
background: rgba(0,0,0,0.1);
}

.menu:hover {
    cursor: pointer;
}

.texte > div, .texte > div , .fond > div, .bordures > div , .marges > div, .transitions > div, .taille > div{
	display: none;
}

.texte >p , .fond >p, .bordures >p , .marges >p, .transitions >p, .taille > p{
    background: -webkit-linear-gradient(top, rgba(65,65,73,1) 0%,rgba(42,42,48,1) 100%);
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-bottom: 1px solid #1D1E21;
		width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 5px;
		font-weight:bold;
}


.textDecorationProprieties, .fontWeightProprieties, .borderProprieties, .fontStyleProprieties, .textAlignProprieties, .border-radiusProprieties, .heightProprieties, .widthProprieties, .textProprieties, .colorProprieties, .fontFamilyProprieties, .fontSizeProprieties, .text-shadowProprieties,
.backgroundProprieties, .opacityProprieties, .box-shadowProprieties, .paddingProprieties, .marginProprieties, .indexProprieties, .box-sizingProprieties, .positionProprieties, .transitionsProprieties{
    background: -webkit-linear-gradient(top, rgba(65,65,73,0.8) 0%,rgba(42,42,48,0.8) 100%);
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-bottom: 1px solid #1D1E21;
}

.active, .activeProperty{
	display:block !important;
}

.output{
	/*margin: 10px;*/
/*	background: rgba(255,255,255,0.5);*/
	width: calc(100% - 20px);
			box-sizing: border-box;
			height: 388px;
			display: inline-block;
			overflow: hidden;
}

.bsChrome{
    background: url('../img/compatible_chrome.gif');
    background-repeat: no-repeat;
    background-size: 20px;
}

.bsEdge{
    background: url('../img/compatible_edge.gif');
    background-repeat: no-repeat;
    background-size: 20px;
}
.bsFirefox{
    background: url('../img/compatible_firefox.gif');
    background-repeat: no-repeat;
    background-size: 20px;
}
.bsSafari{
    background: url('../img/compatible_safari.gif');
    background-repeat: no-repeat;
    background-size: 20px;
}
.bsOpera{
    background: url('../img/compatible_opera.gif');
    background-repeat: no-repeat;
    background-size: 20px;
}

.down{
	-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
width: 16px;
float: right;
padding: 4px;
-webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;

}

.activeDown{
	-webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;
		-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180);
	transform: rotate(180deg);
}


.ace_static_highlight .ace_gutter-cell::before {
    content: counter(ace_line, decimal);
    counter-increment: ace_line;
	}

	.ace_static_highlight .ace_gutter {
    width: 2em;
    text-align: right;
    padding: 0 3px 0 0;
    margin-right: 3px;
		padding: 0px 3px 0px 10px;
		background: rgba(0,0,0,0.2);
	width: 20px;
    margin: 0;
}

.ace_static_highlight .ace_gutter-cell {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ace-monokai .ace_gutter {
    background: #2F3129;
    color: #8F908A;
}

.range, .range1 , .range2, .range3, .range4, .range5,
.range6, .range7 , .range8, .range9, .range10, .range11{
	display: inline-block;
    width: 32%;
    margin-left: 1%;
}
h2{
	    margin: 15px 5px;
}
table {
width: 100%;
}
td{
	padding: 10px;
	background: rgba(0,0,0,0.1);
}

footer{
	width: 100%;
    height: 56px;
    background: rgba(0,0,0,0.8);
    padding: 20px;
    box-sizing: border-box;
    text-align: right;
}

footer > a{
	color:white;
	text-decoration: none;
}


input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
.v-visuallyHidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
label, input, select, textarea {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
}

.v-buttonGroupLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 18px;
    height: 32px;
    font-size: 13px;
}
.v-buttonGroupBordered, .v-buttonGroupLabel {
    border: 2px solid #e0e0e0;
    border-left-width: 0;
		float: left;
}
label {
    color: #484848;
    font-weight: 600;
    display: block;
    max-width: 635px;
    padding-bottom: .8em;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.v-buttonGroupControl:checked + .v-buttonGroupLabel:hover, .v-buttonGroupControl:checked + .v-buttonGroupLabel:focus {
    background: #ccebf3;
}
.v-buttonGroupControl:checked + .v-buttonGroupLabel {
    background: #ccebf3;
    border-color: #b1e0ec;
}
.v-buttonGroupBordered:hover, .v-buttonGroupLabel:hover, .v-buttonGroupBordered:focus, .v-buttonGroupLabel:focus {
    outline: none;
    background: #f2f2f2;
}

input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: 0 none;
}

#void-sample, #controls > div.icon.picker-icon, #controls > div.switch{
	display: none;
}

#color-info > div:nth-child(3){
	display: none !important;
}

.Pix10{
	width: 9px;
border-left: 1px solid black;
height: 10px;
float: left;
}
.GrandPix10{
	width: 9px;
border-left: 1px solid black;
height: 20px;
float: left;
}

.VPix10{
	width: 10px;
border-top: 1px solid black;
height: 9px;
}
.VGrandPix10{
	width: 20px;
border-top: 1px solid black;
height: 9px;
}

.InvPix10{
float: left;
		width: 20px;
	height: 20px;
}
.VInvPix10{
	width: 20px;
height: 20px;
}
